<div class="bg-img">
    <div class="bgimg">
    </div>
    <div>
    <div class="image">

<!-- <div align="center">
<a href="/login/1">patient</a>  |  <a href="/login/2" >doctor</a>  | <a href="/login/3">admin</a> 
</div> -->




<h1 style="font:blue" align="center">Choose Your Account</h1>
<ul> <li><a href="/login/1" class="round yellow">Patient<span class="round">That is, if you already have an account.</span></a></li>
    <li><a href="/login/2"  class="round red">Doctor<span class="round">That is, if you already have an account. </span></a></li>
     <li><a href="/login/3" class="round green">Admin<span class="round">That is, if you already have an account</span></a></li>
  </ul> 


 </div>
</div>
 </div>