


<br><br><br>
<h1 class="text-danger text-center"  style="margin-left:500px">Doctor  Deatils </h1>
<div class='container ' style="max-width:600px"  >
<form (ngSubmit)="onSubmit()" style="margin-left:500px" >
        

        <h3 class="text-danger text-center" >{{msg}} </h3>
       <div class="form-group">
             <label for="firstName">First Name<span class="required">*</span>:                 </label>                                       
             <input type="text" class="form-control" name="firstName" id="firstName"  [(ngModel)]="firstName" />
        </div>
       <br>
        <div class="form-group">
           <label for="lastname">Last Name<span class="required">*</span>:</label>
            <input type="text" class="form-control" name="lastname" id="lastname" [(ngModel)]="lastName"   />
       </div> 
       <br>
        <div class="form-group">
            <label for="email">Email <span class="required">*</span>:</label>
             <input type="text" class="form-control" name="email" id="email" [(ngModel)]="email" />
        </div>
        <br>
       <div class="form-group">
            <label for="password">Password<span class="required">*</span>:</label>
            <input type="text" class="form-control" id="password" name="password"  [(ngModel)]="password" />
        </div>
        <br>
        <div class="form-group">
            <label for="address">Address<span class="required">*</span> :</label>
            <input type="text"  class="form-control" name="address" id="address"  [(ngModel)]="address"/>
        </div>
         <br>
        <div class="form-group">
          <label for="phone">Phone<span class="required">*</span> :</label>
          <input type="text"  class="form-control" name="phone" id="phone"  [(ngModel)]="phone" />
      </div>

      <div class="form-radio">
        <label for="gender" class="radio-label"  >Gender <span class="required">*</span> :</label>
        <div class="form-radio-item">
            <input type="radio" name="gender" id="male"  [(ngModel)]="gender" checked  value="MALE" >
            <label for="male" style="margin-left:70px">Male</label>
            <span class="check"></span>
        </div>
        
        <div class="form-radio-item">
            <input type="radio" name="gender" id="female" [(ngModel)]="gender"  value="FEMALE" >
            <label for="female" style="margin-left:70px" >Female</label>
            <span class="check"></span>
        </div>
    </div><br>
    <span style="padding-left: 40px"></span>
    
</form>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-danger "  (click)="previousPage()"> Previous Page</button> 
       <!-- <button type="submit" class="btn btn-default">Submit</button> -->
       &nbsp;<button class="btn btn-danger " type="submit"> Submit</button> 
</div>