<app-header></app-header>


<div class="col-md-6">
    <h2> Pending Request Details</h2> <br><br>
   <h2 class="text-danger">{{msg}}</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let doctor of doctors" >
        <td class="hidden"></td>
        <td>{{doctor.firstName}}</td>
        <td>{{doctor.lastName}}</td>
        <td>{{doctor.email}}</td>
        <td><button class="btn btn-danger" (click)="approvedUser(doctor)"> Approved Doctor</button></td>
      </tr>
      </tbody>
    </table>
    </div>


  
   
      