<img [src] =back alt="Ita Trulli" height ="300" width="100%">
<!--<header>
    <nav class="navbar navbar-light">
        
          <ul class="nav nav-tabs">
             
            <li class="nav-item "><a class="nav-link " routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}" routerLink="/user">My Details</a></li>
            <li class="nav-item "><a class="nav-link " routerLinkActive="active" routerLink="/book" >Book Appoinment</a></li>
            <li class="nav-item"><a class="nav-link "  routerLinkActive="active" routerLink="/view"> View Booking</a></li>
            <li class="nav-item"><a class="nav-link "  routerLinkActive="active" routerLink="/cancel">Cancel Booking</a> </li>
            <li class="nav-item "><a class="nav-link " routerLinkActive="active" routerLink="/feedback" >Feed Back</a></li>
            <li class="nav-item"><a class="nav-link "  routerLinkActive="active" routerLink="/patientlogout">Logout</a></li>
            
          </ul>
        
      </nav>
      </header><br><br><br>-->
      <ul id="list-nav" >
        <li><a class="nav-link " routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}" routerLink="/user">My Details</a></li>
        <li><a class="nav-link " routerLinkActive="active" routerLink="/book">Book Appoinment</a></li>
        <li><a class="nav-link"  routerLinkActive="active" routerLink="/view">View Booking</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="/cancel">Cancel Booking</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="/feedback">Feed Back</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="/patientlogout">Logout</a></li>

        </ul>
        <br>