<img [src] =back alt="Ita Trulli" height ="300" width="100%">
<!--<header>
    <nav class="navbar navbar-light">
        
          <ul class="nav nav-tabs">
             
            <li class="nav-item "><a class="nav-link " routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}" routerLink="/doctor">My Details</a></li>
            <li class="nav-item "><a class="nav-link " routerLinkActive="active" routerLink="/viewappointment" > View Appointment </a></li>
            <li class="nav-item "><a class="nav-link " routerLinkActive="active" routerLink="/drfeedback" >Feed Back</a></li>
            <li class="nav-item"><a class="nav-link "  routerLinkActive="active" routerLink="/doctorlogout">Logout</a></li>
            
          </ul>
        
      </nav>
      </header>
    -->
  
      <ul id="list-nav" >
        <li><a class="nav-link " routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}" routerLink="/reqlist">My Details</a></li>
        <li><a class="nav-link " routerLinkActive="active" routerLink="/doctorlist">View Appointment</a></li>
        <li><a class="nav-link"  routerLinkActive="active" routerLink="/patientlist">Feed Back</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="/logout">logout</a></li>
        
        </ul>
        <br>