

<!-- <a routerLink="/reqlist">Doctor Request</a> |<a routerLink="/doctorlist" >Docter List</a> |<a routerLink="/patientlist">Patient List</a> | <a routerLink="/logout">logout</a>  -->

<!-- <a href="reqlist">Doctor Request</a> |<a href="doctorlist">Docter List</a> |<a href="patientlist">Patient List</a> | <a href="logout">logout</a> -->
<img [src] =back alt="Ita Trulli" height ="400" width="100%">
<!--<header>
<nav class="navbar navbar-light">
    
      <ul class="nav nav-tabs">
         
        <li class="nav-item "><a class="nav-link " routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}" routerLink="/reqlist">Doctor Request</a></li>
        <li class="nav-item "><a class="nav-link " routerLinkActive="active" routerLink="/doctorlist" >Docter List</a></li>
        <li class="nav-item"><a class="nav-link "  routerLinkActive="active" routerLink="/patientlist">Patient List</a></li>
        <li class="nav-item"><a class="nav-link "  routerLinkActive="active" routerLink="/logout">logout</a> </li>
      </ul>
    
  </nav>
  </header><br><br><br>
-->

      <ul id="list-nav" >
        <li><a class="nav-link " routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}" routerLink="/reqlist">Doctor Request</a></li>
        <li><a class="nav-link " routerLinkActive="active" routerLink="/doctorlist">View Doctor</a></li>
        <li><a class="nav-link"  routerLinkActive="active" routerLink="/patientlist">View Patient</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="/logout">logout</a></li>
        
        </ul>
        <br>