<app-header></app-header>
<h1 class="text-success" style="margin-left:500px" >Welcome Dr. {{firstName | titlecase}}</h1>

<br><br><br>


<div  class='container text-center'  style="max-width:600px" style="margin-left:500px"  >
    <!-- <div class="row"> -->
     <!-- <div class="col-md-6"> -->
     <h2 > Doctor Details</h2><br>
    
    <table class="table table-striped">
      
    <tbody>
    <tr >
         <td>Name  :</td> <td>{{firstName | titlecase}}</td>
    </tr>
    <tr>
        <td>Last Name  :</td><td>{{lastName | titlecase}}</td>
    </tr>
    <tr>
        <td>Email-Id  :</td><td>{{email}}</td>
    </tr>
    <tr>
        <td>Mob no  :</td> <td>{{phone}}</td>
    </tr>
    <tr>
        <td>Address   :</td><td>{{address}}</td>
    </tr> 
    <tr>
        <td>DOB  :</td> <td>{{dob}}</td>
    </tr>
    <tr>
        <td>Gender   :</td><td>{{gender}}</td>
    </tr> 
    
    </tbody>
    </table>
    <button class="btn btn-danger  text-center" (click)="updatedDetails(id)"> Update Details</button> 
<!-- </div> -->
<!-- </div> -->
 </div>

<br><br><br><br><br><br> 